html {
    scroll-behavior: smooth;
}

body {
    background: #f8f8f8;
    font-family: 'Sarabun', sans-serif !important;
    font-size: 14px;
}

p {
    font-size: 14px;
}

label {
    font-weight: 600;
}

small,
.small {
    font-weight: 600;
}

span.line-danger {
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

img {
    max-width: 100%;
}

.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 6em;
}

.page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon header.main-nav .main-navbar .nav-menu>li .nav-submenu li a {
    font-size: 14px;
}

.page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon header.main-nav .main-navbar .nav-menu li a span {
    font-family: 'Sarabun', sans-serif !important;
}

.oae-header {
    background: rgb(172, 230, 251);
    background: linear-gradient(0deg, rgb(172 230 251 / 0.2) 36%, rgba(255, 255, 255, 1) 100%);
}

.oae-header:before {
    width: 100%;
    height: 4px;
    background: url(../images/line-oae.png) center / 100% 100% no-repeat;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: '';
}

.footer-oae {
    position: relative;
}

.footer-oae:before {
    width: 100%;
    height: 4px;
    background: url(../images/line-oae.png) center / 100% 100% no-repeat;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: '';
}

.card .card-header h5 {
    font-size: 20px;
    line-height: 1.5 !important;
    font-weight: 700;
}

.page-wrapper.compact-wrapper .page-main-header {
    margin-left: 0;
    width: 100%;
    z-index: 100;
}

.page-wrapper.compact-wrapper .page-main-header.close_icon {
    margin-left: 0;
    width: 100%;
}

.page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon header.main-nav {
    top: 80px;
}

.page-main-header .main-header-right {
    padding: 15px 30px;
}

.page-wrapper.compact-wrapper .page-main-header .main-header-right .toggle-sidebar {
    display: inherit;
}

.toggle-sidebar {
    z-index: 100;
    position: absolute;
    left: 30px;
    top: 35px;
    cursor: pointer;
    width: 50px;
    border-right: 1px solid #ddd;
}

.toggle-sidebar:before {
    left: 0;
}

.toggle-sidebar svg {
    width: 40px;
}

.page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon header.main-nav .main-navbar .nav-menu {
    border-right: 1px solid #ddd;
}

.page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon header.main-nav .main-navbar .nav-menu {
    padding-top: 10px;
}

.page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon .page-body {
    margin-top: 0 !important;
    padding-top: 140px;
    padding-bottom: 30px;
}

.modal-main .modal-content {
    border-radius: 0;
}

.modal-main .modal-header {
    border-top: 6px solid #2B4497;
    border-radius: 0;
}

.btn-note {
    margin-top: -10px;
}

.card {
    border-radius: 5px !important;
}

.card .card-header {
    border-radius: 0;
    border: 1px solid #ddd;
    border-top: 6px solid #2B4497;
    padding: 25px 25px;
}

.card .card-body {
    border: 1px solid #ddd;
}

.table-card .card-header {
    border-top: 0;
    border: 1px solid #ddd !important;
    border-bottom: 0 !important;
}

.table-card .card-body {
    padding: 0;
    border: 0;
}

.acc-1:first-child {
    padding-bottom: 15px;
}

.acc-1:not(:first-child) {
    border-top: 1px solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px;
}

.acc-2 {
    padding: 0 30px;
}

.text-main {
    color: #298FDE;
}

.text-under {
    font-size: 16px;
    color: #2B4497;
    border-bottom: 1px solid;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.login-main {
    background: #fff;
    min-height: 100vh;
    padding: 5em;
}

.text-primary {
    color: #2B4497 !important;
}

.text-head {
    /* color: #2B4497 !important; */
    font-weight: 600 !important;
    color: #fff !important;
    background: #2B4497 !important;
    padding: 10px 10px 10px 15px;
}

.text-primary i {
    padding-right: 5px;
}

.table-main {
    border-collapse: collapse;
}

.table-main th,
.table-main td {
    border: 1px solid #dee2e6;
}

.btn-search {
    background: #298FDE !important;
    border: #298FDE !important;
}

.btn-search:hover,
.btn-search:focus {
    background: #2B4497 !important;
    border: #2B4497 !important;
}

.btn-icon {
    padding: 0 6px;
}

.table-main th {
    color: #2B4497;
    text-align: center;
}

.table-main tr {
    text-align: center;
}

.create-main {
    border-radius: 10px;
}

.create-main .card-body {
    padding: 15px 10px;
    background: #8DBF42;
    color: #fff;
}

.create-main .static-top-widget .media-body .icon-bg {
    opacity: .1;
}

.create-main .static-top-widget div.align-self-center svg {
    margin-left: 10px;
    padding-top: 5px;
}

.create-main .static-top-widget .media-body {
    padding-left: 5px;
}

.form-control[type="file"] {
    height: calc(1.5em + .75rem + 7px);
    font-size: .8rem;
}

.form-control {
    height: calc(1.5em + .75rem + 10px);
    font-size: .9rem;
    font-weight: 500;
}

.form-control:hover,
.form-control:focus {
    border: 1px solid #2B4497;
}

.group-submit {
    margin: 2em auto 4em;
    text-align: center;
    display: block;
}

.group-submit button {
    margin: 0 5px;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #2B4497 !important;
}


@media only screen and (min-width: 768px) {
    .btn-search {
        margin-top: 35px;
    }
}

@media only screen and (min-width: 991px) {
    .logo-main img {
        margin-left: 75px;
    }
}

@media only screen and (max-width: 991px) {
    .page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon header.main-nav {
        top: 50px;
    }

    .bg-login {
        display: none;
    }
}